*/AppProperties/*.*
*/plugin.xml
*/Resources/IconNote
**/.settings/*
**/jquery*
*/WebContent/WEB-INF/jdbc* 
Website/Resources/Images/v_Recommended Spare Parts(44A0E20F54F9C31E882583BB0076F1F9).gif.metadata
Website/Resources/Images/v_Recommended Spare Parts(7C69025412FA2C19882583BB0076F1FA).gif
Website/Resources/Images/v_Recommended Spare Parts(7C69025412FA2C19882583BB0076F1FA).gif.metadata
